.site-header{
    background-color: #11bbbb;
    color: #ecfdec;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header.content{
    margin: 10px;
}
.profile-picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow:#022727 18px 10px 5px;
}
.course-link{
    color: #ecfdec;
}
body{
    margin: 0;
}